node_modules/
ios/App/Pods/
ios/App/App/public/
ios/DerivedData/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
